include fragments/header.pug
.page
    include fragments/expandable.pug
    #contestants
    script(src='scripts/theme.js')
    script(src='scripts/hydrate-contestants.js')
    script(src='scripts/ratings-handler.js')
    script(src='scripts/expandable.js')
