header.header 
    h1.headerTitle Röstdokument för Melodifestivalen
    .competitionSelection
        #competitionSelectionContainer
    .darkModeSection
        input(id='dark', type='checkbox', data-toggle, aria-hidden="false")
        label(for='dark', data-toggle) Dark mode toggle
        p Mörkervy