header.header 
    .empty
    h1.headerTitle Röstdokument för Melodifestivalen
    .darkModeSection
        input(id='dark', type='checkbox', data-toggle)
        label(for='dark', data-toggle) Dark mode toggle
        p Dark mode