doctype html
html
    head
        style
            |!{css}
        title= 'Melodifestivalen ratings'
        link(rel='icon' href='portrait.jpg')
        meta(charset='utf-8')
        meta(name='description' content='Röstdokument för Melodifestivalen')
        meta(name='author' content='Frodi Karlsson')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='color-scheme' content='dark light')
        meta(http-equiv='Content-Security-Policy' content='upgrade-insecure-requests')
    body.dark
        include pages/index/index.pug