#expandable > #expandable-content { display: none; }
#expandable.expanded > #expandable-content { display: flex; }


#expandable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
              100%, 0.075),
              /* shadow ring 👇 */
              0 0 0 1px hsla(0, 0%, 0%, 0.05),
              /* multiple soft shadows 👇 */
              0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
              0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
              0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

#expandable-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}

.expandableForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.expandableButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.expandableFields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
    width: 100%;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        gap: 10px;
    }
}   

.expandableInput {
    max-width: 300px;
}

.expandableField {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}